*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:20px;

font-family:Arial, sans-serif;

color:white;

overflow:hidden;

background:
linear-gradient(
135deg,
#12001f,
#33002f,
#70134d
);

}



.background{

position:fixed;

inset:0;

background-image:
radial-gradient(
white 1px,
transparent 1px
);

background-size:45px 45px;

opacity:.15;

}



.card{

position:relative;

z-index:2;

width:100%;

max-width:390px;

padding:35px 25px;

text-align:center;

border-radius:25px;

background:
rgba(255,255,255,.1);

border:
1px solid rgba(255,255,255,.2);

backdrop-filter:blur(15px);

}



h3{

color:#ffb6d9;

font-size:16px;

margin-bottom:20px;

}



h1{

font-size:38px;

margin-bottom:20px;

}



p{

line-height:1.8;

font-size:15px;

}



.timer{

margin:25px 0;

padding:15px;

background:
rgba(255,255,255,.08);

border-radius:18px;

}



.timer h2{

font-size:20px;

margin-bottom:10px;

}



button{

width:100%;

padding:16px;

border:none;

border-radius:30px;

background:#ff4f93;

color:white;

font-size:17px;

}


button:active{

transform:scale(.97);

}



@media(max-width:400px){

h1{

font-size:30px;

}


.card{

padding:25px 18px;

}

}
